
/*HEADER*/
body
{
    margin: 0;
}
#badge
{
    position: absolute;
    background-color: rgb(255, 30, 30);
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    top: 10px;
    right:158px;
}
#container
{
    background-color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    position: fixed;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
}
#shopName 
{
    font-size: 40px; 
    font-family: 'Lato', sans-serif;
}
#shopName a
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
#shopName > b
{
    font-weight: 900;
    font: black;
}

#collection
{
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#collection a
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.search
{
    padding: 14px;
    /* color: gray; */
    color: rgb(29, 29, 29);
    min-width: 25px;
    text-align: center;
    position: absolute;
}

.addedToCart
{
    font-size: 1.5em;
    margin-right: 25px;
}
#user
{
    display: flex;
    /* float: right; */
    align-items: center;
}

.userIcon
{
    font-size: 45px;
}
#input 
{
    width: 35em;
    height: 3em;
    padding: 2px 50px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
}
#input::placeholder
{
    font-weight: bold;
}
#input:focus
{
    outline: none;
}
#user a
{
    color: rgb(29, 29, 29)
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1300px)
{
    #collection
    {
        font-size: 13px;
    }
    #input 
    {
        width: 25em;
    }
}
@media(max-width: 1212px)
{
    #collection
    {
        font-size: 13px;
    }
    #input 
    {
        width: 20em;
    }
    .addedToCart
    {
        font-size: 1.5em;
        margin: 10px 20px;
    }
}

@media(max-width: 1090px)
{
    #container
    {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
    }
    #search
    {
        display: none;
    }
}
@media(max-width: 750px)
{
    #shopName
    {
        font-size: 28px;
    }
    #collection
    {
        font-size: 12px;
    }
    .userIcon
    {
        font-size: 35px;
    }
    .addedToCart
    {
        font-size: 1.2em;
        margin: 10px 20px;
    }
}

@media(max-width: 650px)
{
    #shopName
    {
        font-size: 24px;
    }
    #collection
    {
        font-size: 10px;
    }
    .userIcon
    {
        font-size: 30px;
    }
}
@media(max-width: 550px)
{
    #container 
    {
        padding: 20px 25px;
    }
}

/* badge media */

@media(max-width: 1480px)
{
    #badge
    {
        right:150px;
    }
}
@media(max-width: 1426px)
{
    #badge
    {
        right:142px;
    }
}
@media(max-width: 1360px)
{
    #badge
    {
        right:136px;
    }
}
@media(max-width: 1320px)
{
    #badge
    {
        right:129px;
    }
}
@media(max-width: 1259px)
{
    #badge
    {
        right:119px;
    }
}
@media(max-width: 1212px)
{
    #badge
    {
        right: 96px;
    }
}
@media(max-width: 1155px)
{
    #badge
    {
        right: 87px;
    }
}
@media(max-width: 1090px)
{
    #badge
    {
        right: 119px;
    }
}
@media(max-width: 1030px)
{
    #badge
    {
        right: 109px;
    }
}
@media(max-width: 970px)
{
    #badge
    {
        right: 100px;
    }
}
@media(max-width: 910px)
{
    #badge
    {
        right: 94px;
    }
}
@media(max-width: 850px)
{
    #badge
    {
        right: 87px;
    }
}
@media(max-width: 750px)
{
    #badge
    {
        right: 87px;
        padding: 3px 6px;
        font-size: 12px;
        top: 12px;
    }
}
@media(max-width: 650px)
{
    #badge
    {
        right: 78px;
    }
}
@media(max-width: 550px)
{
    #badge
    {
        right: 62px;
        top: 18px;
    }
}


/*FOOTER*/
body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#containerFooter
{
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#containerFooter h3:hover, #containerFooter p:hover
{
    color: lightslategray;
    cursor: pointer;
}
#webFooter
{
    padding-top: 30px;
    font-size: 12px;
}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

#credit a
{
    color: white;
    text-decoration: none;
    position: relative;
}
#credit a::after
{
content: "";
background: white;
mix-blend-mode: exclusion;
width: calc(100% + 18px);
height: 0;
position: absolute;
bottom: -4px;
left: -10px;
transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#credit a:hover::after
{
    height: calc(100% + 8px)
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: rgb(0, 183, 255);
}

/*CONTENT*/
body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1
{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
}
#containerClothing, #containerAccessories, #containerGroceries , #containerKitchen
{
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}
#box 
{
    width: 100%;
    background-color: white;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}
#box:hover
{
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}
#containerClothing img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#containerAccessories img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#details
{
    padding: 0 15px;
    text-transform: capitalize;
}
#box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
h3
{
    font-size: 16px;
}
h4
{
    font-weight: 100;
}
h2
{
    color: rgb(3, 94, 94);
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1070px)
{
    h1
    {
        font-size: 25px;
    }
    #containerClothing, #containerAccessories
    {
        width: 95%;
        grid-gap: 10px;
    }
}
@media(max-width: 850px)
{
    h1 
    {
        width: 80%;
    }
    #containerClothing, #containerAccessories
    {
        display: grid;
        grid-gap: 70px 20px;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }    
}
@media(max-width: 650px)
{
    h1
    {
        font-size: 20px;
    }
    h1 
    {
        width: 90%;
    }
    #containerClothing, #containerAccessories
    {
        width: 90%;
    }
}
@media(max-width: 600px)
{
    h1 
    {
        width: 70%;
    }
    #containerClothing, #containerAccessories
    {
        width: 70%;
    }
}
@media(max-width: 505px)
{
    h1 
    {
        width: 80%;
    }
    #containerClothing, #containerAccessories
    {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*MAIN*/
.card{
    height: 298px;
    width: 180px;
    margin: 18px;
   }
   .cardDiv>div{
       height: 400px;
       background-repeat:no-repeat;
   }
   
   .mainflex{
       display: flex;
       flex-flow: row wrap;
   }
   .flexbox{
    display: flex;
    flex-flow: row wrap;
    width: 85%;
   }
   .flexbox2{
       display: flex;
       flex-flow: row wrap;
      }
   .carousel-inner {
       height: 340px;
   }
   
   .carousel-item img {
       height: 290px;
   }
   .posterDiv{
   width: 15%;
   }
   .poster{
       height: 350px;
       width: 100%;
   }
   .dropbtn {
     padding: 16px;
     font-size: 16px;
     border: none;
   }
   
   .dropdown {
     position: relative;
     display: inline-block;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   .dropdown-content a:hover {background-color: #ddd;}
   .dropdown:hover .dropdown-content {display: block;}
   .dropdown:hover .dropbtn {color: blue;}
   @media only screen and (max-width: 580px) {
       .card{
           width: 100%;
       }
       .flexbox{
           flex-flow: column wrap;
           width: 100%;
       }
       .flexbox2{
           display: flex;
           flex-flow: column wrap;
          }
       .mainflex{
           display: flex;
           flex-flow: column wrap;
       }
       .poster{
           height: 300px;
           width: 100%;
       }
       .posterDiv{
           width: 100%;
           }
       
           .flip{
               flex-wrap: wrap;
           }
     }